* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
  }
   body {
    background-image: linear-gradient(rgba(0, 8, 29, 0.658),rgba(0, 8, 29, 0.658)),url("images/header-image.png");
    background-image: linear-gradient(to bottom, rgb(0, 6, 59));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body {
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .header {
    background-image: linear-gradient(to bottom, rgb(0, 6, 59));
  }
  .top-nav {
    padding-top: 2%;
    padding-right: 3vw;
    padding-left: 3vw;
    flex-direction: row;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    width: 8%;
    height: 100%;
    font-size: 110%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    border-color: rgba(255, 255, 255, 0.308);
    margin-left: 70%;
    border-radius: 5%;
  }
  .lang{
    top: 50%;
  }
  .lang-logo{
    margin-left: 0%;
    width: 25px;
  }
  .logo{
    width: 12%;
    color: #e50914;
  }
  .sign-in{
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #e50914;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .container {
    width: 80%;
    height: 100vh;
    padding-top: 10%;
    padding-left: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;  
  }
  .title1 {
    font-size: 4rem;
    font-weight: 800;
  }
  .title2 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding-top: 2%;
  }
.textentered {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding-top: 4%;
}
.email {
  padding-top: 2%;
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.email-btn {
  border-color: white;
  width: 60%; 
  padding: 20px;
  font-size: 1em;
}
.email-btn{
  background-color: rgba(0, 0, 0, 0.644);
}
.btn{
  cursor: pointer;
  padding: 18px 32px;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
  background-color: #e50914;
  color: #ffffff;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2%;
}
.email-btn input[type=text] {
  border: solid white;
}
.btn:hover{
  background-color: #ff0b18;
}
main ,footer {
  background-color: rgb(0, 0, 36);
}
.main-container{
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box1 {
  width: 24%;
  border-style: solid;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 7%;
  border-color: rgba(0, 8, 29, 0.658);
  border-radius: 3%;
  background-color: rgb(66, 0, 66);
}
.text1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 750;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.para1 {
  ma
  color: #ffffff;
  font-weight: 500;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.ques {
  color: #ffffff;
  padding-top: 5%;
  margin-left: 5%;
  font-size: 2.5rem;
  font-weight: 750;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.footer1 {
  padding-top: 5%;
  text-align: justify;
  padding-left: 5%;
  color: rgba(240, 248, 255, 0.836);
  display: flex;
}
.foot1 {
  padding-top: 2%;
  color: rgba(240, 248, 255, 0.836);
  display: flex;
  flex-direction: row;
}
.foot1 p{
  text-decoration-line: underline;
  padding-left: 15%;
}
.foot2 {
  padding-top: 2%;
  color: rgba(240, 248, 255, 0.836);
  display: flex;
  flex-direction: row;
}
.foot2 p{
  text-decoration-line: underline;
  padding-left: 13.5%;
}
.foot3 {
  padding-top: 2%;
  color: rgba(240, 248, 255, 0.836);
  display: flex;
  flex-direction: row;
}
.foot3 p{
  text-decoration-line: underline;
  padding-left: 12.5%;
}
.foot4 {
  padding-top: 2%;
  color: rgba(240, 248, 255, 0.836);
  display: flex;
  flex-direction: row;
}
.foot4 p{
  text-decoration-line: underline;
  padding-left: 13.5%;
}

.footer2 p{
  padding-top: 2%;
  text-align: justify;
  padding-left: 5%;
  color: rgba(240, 248, 255, 0.836);
}